@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Mulish", sans-serif;
  list-style: none;
}
.top_nav {
  background-color: #2e51ee;
  color: white;
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: 10px 20px;
}
.color_only {
  box-shadow: 0 1px 4px 0 hsla(0, 100%, 0%, 0.1);
  overflow: hidden;
}
.top_nav a {
  color: white;
}
.top_nav a:hover {
  color: white;
  text-decoration: none;
}
.top_nav small {
  line-height: 25px;
  margin-right: 10px;
}
.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

/* MULTI STEP NAVBAR */
.logo {
  width: 150px;
  height: 70px;
  object-fit: contain;
  margin-right: 30px;
}
.multi_step {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.multi_step li {
  /* border: 2px solid #2e51ee; */
  border-radius: 5px;
  padding: 5px;
  transition: 0.2s;
  cursor: pointer;
}
.default_flex {
  flex-wrap: nowrap;
  justify-content: flex-start !important;
}
.default_flex li {
  margin-left: 10px;
}
.second_layer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100% !important;
}
.second_layer ul {
  width: auto !important;
}
.multi_step li:hover {
  border: 2px solid #2e51ee;
}
.ff_nav {
  display: flex;
  width: 65%;
}
.ff_nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.for_login {
  width: 22%;
}
.log_us {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.log_us button {
  padding: 8px 12px;
  border-radius: 5px;
  font-weight: 600;
  background-color: #2e51ee;
  border: 0;
  color: white;
  cursor: pointer;
}
.log_us button:hover {
  background-color: #13267a;
}

.top_nav span:hover {
  cursor: progress;
}
.navbarRemover {
  display: none;
}
.box_test {
  max-width: 400px;
  margin: 100px auto;
  background-color: antiquewhite;
  padding: 20px;
  transition: 0.5s;
  transform: rotate(0deg);
  transform: translateY(1px);
  transform: scale(1);
}
.box_test:hover {
  transform: rotate(90deg);
  transform: translateY(5px);
  transform: scale(0.5);
}

@media (min-width: 768px) {
  .top_nav {
    justify-content: center;
  }
  .top_nav span {
    position: absolute;
    right: 20px;
  }
}
@media (max-width: 1086px) {
  .for_login {
    width: 25%;
  }
  .ff_nav {
    width: 72%;
  }
}
@media (min-width: 960px) {
  .second_layer {
    display: none;
  }
}

@media (max-width: 960px) {
  .multi_step {
    display: block;
  }
  .ff_nav {
    display: block;
    width: 65%;
  }
  .ff_nav ul {
    display: block;
    justify-content: left;
  }
  .second_layer,
  .default_flex {
    display: flex !important;
  }
  .log_us {
    display: block;
  }
  .mobile_logo {
    display: none;
  }
  .multi_step {
    position: absolute;
    background-color: white;
    width: 300px;
    right: 0;
    top: 116px;
    box-shadow: 0 1px 4px 0 hsla(0, 100%, 0%, 0.1);
    transform: translateX(-950px);
    transition: 0.7s;
  }
  .active {
    transform: translateX(0px);
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2023-5-23 11:59:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
.fade-in-left {
  -webkit-animation: fade-in-left 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-left 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
/**
 * ----------------------------------------
 * animation fade-in-left
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
